*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*Navigation Bar Styles*/

.header-link a {

    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", sans-serif;
    font-weight: 300;


}

.header-link {

    list-style-type: none;

}

.links {

    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 2%;
    padding: 1%;
    background-color: #1f2937;

}

.logo {

display: flex;

}

.logo h4 {

    position: absolute;
    left: 30px;
    top: 16px;
    font-family: "Roboto", sans-serif ;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;

    
}


/*Dark Blue Bit*/
.dark-blue-bit {

    display: flex;
    flex-direction: row-reverse;
    padding: 2%;
    justify-content: center;
    background-color: #1f2937;

}

.dark-blue-bit .image {

    width: 300px;
    height: 400px;
}

.dark-blue-bit .image img {

    min-width: 100%;
    max-height: 100%;

}



.text-and-sign-up h1 {

    max-width: 70%;
    font-weight: 1600;
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    color: #f9faf8;

}

.text-and-sign-up p {

    font-size: 18px;
    color: #e5e7eb; 
    margin-right: 10%;
    display: flex;


}

.text-and-sign-up button {

    border-radius: 12px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    margin: 2%;
    background-color: #3882f6;
    padding: 8px 24px 8px 24px;
    color: #f9faf8;
    
    

}

.text-and-sign-up {

    border-radius: 12px;

}


/*Small Pictures Section*/
.small-pictures-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.small-pictures-section h2 {

    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 1600;
    margin: 4%;


}

.boxes {

    display: flex;
    flex-direction: row;
    gap: 60px;

}

.boxes .actual-box  {

    width: 200px;
    height: 200px; 
    border: 4px solid #3882f6;
    border-radius: 12px;
    

}

.boxes p {

    font-size:18px;
    color: #4b4b4b;
    text-align: center;
    margin-bottom: 40%;
    width: 200px;
    

}

/*Quote Section*/
.quotes {

    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column ;
    background-color: #e5e7eb;

}

.quotes h1 {

    font-weight: 300;
    font-style: italic;
    margin: 15% 15% auto 15%;
}

.quotes p {

    text-align: right;
    padding-right: 20%;
    margin-top: 1% ;
    font-weight: 800;
    font-size: 18px;
    margin-bottom:  10%; ;
}

/*Call To Action*/
.cfa-container {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 30% 10% 30%;

}

.cfa-container .call-to-action {

    display: flex;
    flex-direction: row;
    padding: 5% 10% 5% 10% ;
    background-color: #3882f6;
    border-radius: 12px;
    gap: 200px;
}

.call-to-action h2 {

    font-size: 18px;
    color: #f9faf8;

}

.call-to-action p   {

    color: #f9faf8; 

}

.call-to-action button {

    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    width: 100px;
    height: max-content;
    padding: 5px 20px 5px 20px;


}

.call-to-action .text {

    width: max-content;

}

.sign-up-button {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Footer*/
.footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer p {

    color: #e5e7eb;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 2%;

}
